body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;*/
}
.container{
  width: 140%;
}
.navbar-brand{
  font-size: 1.5rem;
  color: black;
  font-family: 'Lobster', sans-serif;
  padding: 10px;
}
.navbar-brand:hover{
  color: black;
}
.nav-link{
  margin-right: 5px;
  margin-left: 5px;
  color: black;
  padding-left: -20px;
  
}
.nav-link:hover{
  color: black;
}
#navv{
  background-color: blue;
  width: 80px;
  height: 40px;
  color: white;
  text-align: center;
  outline: none;
}
.search{
  height: 35px;
  width: 80%;
  outline: none;
  margin-right: -0px;
  font-family: 'Kalam', cursive;
}
.lf{
  text-decoration: none;
  color: black;
  margin-left: 30px;

}
ul{
  list-style-type: none;
  margin-top: 30px;
}
ul .lf{
  padding: 50px;
  line-height: 45px;
}
li:hover {
color: blue;
background-color: rgb(214, 214, 211);
height: 45px;
width: 250px;
}
.project{
  margin-left: 75px;
  padding-top: 40px;
}
.shop{
  width: 25%;
  background-color: rgb(238, 237, 236);
  margin-top: -0px;
  height: 120%;
}
.bi{
  padding: 7px;
  font-size: 1.5rem;
}
